@CHARSET "UTF-8";

table.cashdeskmaintable, td.cashdeskmaintable {
	border-collapse: collapse ;
	border-style: solid;
	border-width: 2px;
	border-color: #8CACBB;
}

table.baskettable {
	border-collapse: collapse ;
	border-style: dotted;
	border-width: 1px;
	border-color: #777777;
	color: #386070;
	background: #F4F4F4;
}

.baskettable td {
	border-collapse: collapse ;
	border-style: dotted;
	border-width: 1px;
	border-color: #777777;
}

p.titlezone {
	font-size: 18px;
	text-align: center;
	color: #6585A0;
}

input.cashdeskinput {
	font-size: 20px;
	font-weight: bold;
	color: #436976;
	height: 90%;
	width: 90%;
}

input.cashdesktext {
	font-size: 230%;
	font-weight: bold;
	height: 90%;
	width: 90%;
	text-align: right;
	border-color: #777777;
}

input.cashdeskinput:hover {
	background: #dee7ec;
}

input.cashdeskinput:disabled {
	background: #BBBBBB;
}

input.numkeyboardbtn {
	font-size: 20px;
	font-weight: bold;
	height: 90%;
}

select.listcat {
	width: 100%;
}

option.listcat {
	font-size: 17px;
	padding: 2px ;
}

p.postitre {
	font-size: 17px;
	margin: 2%;
}

p.customeraddress {
	font-size: 15px;
	margin: 0px;
}

p.customeraddress:first-line {
	font-size: 17px;
	font-weight: bold;
}

tr.selectedrow {
	background: #C0C9FF;
}

ul.listpaiements {
	text-align: center;
	padding: 0px;
	list-style-type: none;
}

li.paiement {
	font-size: 16px ;
	border: 1px solid #777777;
	margin: 4px;
}

li.selectedpaiement {
	font-size: 16px ;
	border: 1px solid #777777;
	margin: 4px;
	background: #C0C9FF;
}	

input.customerzone {
	font-size: 16px ;
	font-weight: bold;
	color: #436976;
	padding: 1px 4px ;
}

table.customerzone {
	font-size: 130% ;
}

select.flat {
	font-size: 16px ;
}

